[submodule "blog/themes/next"]
	path = blog/themes/next
	url = git@github.com:next-theme/hexo-theme-next.git
[submodule "blog/themes/kaze"]
	path = blog/themes/kaze
	url = git@github.com:theme-kaze/hexo-theme-kaze.git
